# pip install -r requirements.txt
# -----------------------------------------------
#Required Tools and Technologies
#vs-code
#python3

#Frontend-Technologies
 #  ReactJs 
  # TailwindCSS
# -----------------------------------------------
#Required Libraries

pandas
numpy
scikit-learn
matplotlib
tqdm
fastapi
uvicorn
python-multipart